body,
html {
 width:100%;
 height:100%
}

body {
  margin:0;
  padding:0;
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  font-family:Roboto;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}
.dropdown-menu {
  min-width: 15rem;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.notification-item {
    font-size: 14px;
    border-bottom: 1px solid #e3e3e3;
    display:inline-block;
}
.notification-button {
    background: url('https://icons.veryicon.com/png/o/miscellaneous/fine-fillet-icon/notification-bell.png');
    background-repeat: no-repeat;
    background-position: -2px -2px;
    background-size: 43px 43px;
}

.bg-blue {
  background-color: #6699cc;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  border-radius: 12px;
  margin-bottom: 5px;
}

.notifications-content {
  background: #ffffff;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  border-radius: 12px;
  margin-bottom: 5px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  margin-bottom: 5px;
}


.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.reply-img {
  height: 100px;
  width: 100px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



footer {
 position: sticky!important;
 top: 100%;
 padding-top:25px;
 padding-bottom:25px;
 border-top:1px solid #ddd;
}

footer p {
 margin:2px;
 text-align:center;
 padding:0 40px;
 color:#fff;
 font-size:12px;
}

footer a{
  color:#777
}

footer a:hover {
  color:#777;
  text-decoration: none;
}

div {}
.flex-row {
    display: flex;
    background: #efefef;
    border-radius: 15px;
    margin-top: 10px;
}
.reply-profile {
    background: #ecefef;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-content: center;
    text-align: center;
    width: 15%;
}

.reply-content {
    margin-left: 25px;
    margin-top: 20px;
}