{% extends 'homepage/page_template.html' %}

{% block content %}
    {% if unread_notification_list %}
        <div class="notifications-content">
            <h1>Непрочитанные</h1>
            {% for notification in unread_notification_list %}
                <p style="border-bottom: 1px solid lightgray;">
                    {{ notification.timestamp }} - <a href="{% url 'user-tasks' notification.actor.username %} ">{{ notification.actor.profile.last_name }} {{ notification.actor.profile.first_name }}</a> {{ notification.verb }}
                    <a href="{% url 'task-detail' notification.action_object_object_id %} "> Посмотреть тут.</a>
                </p>
            {% endfor %}
            <a class="btn btn-success" href="{% url 'read_all_notifications'%}">Прочитать всё</a>
        </div>
    {% endif %}
    <div class="notifications-content">
        <h1>Прочитанные</h1>
        {% for notification in notification_list %}
            <p style="border-bottom: 1px solid lightgray;">
                {{ notification.timestamp }} - <a href="{% url 'user-tasks' notification.actor.username %} ">{{ notification.actor.profile.last_name }} {{ notification.actor.profile.first_name }}</a> {{ notification.verb }}
                {% if notification.action_object_content_type.id == 21 %}
                    <a href="{% url 'chat' notification.actor.username %} "> Посмотреть тут.</a>
                {% else %}
                    <a href="{% url 'task-detail' notification.action_object_object_id %} "> Посмотреть тут.</a>
                {% endif %}
            </p>
        {% endfor %}
    </div>
{% endblock %}

