{% extends "homepage/page_template.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="features data">
        <h1> Создание обсуждения </h1>
        <form method="post">
            {% csrf_token %}
            <br>
            {{ form.title }}<br>
            {{ form.content }}<br>

            {% if error %}
                <span> {{ error }} </span>
            {% endif %}

            <button class="btn btn-success" type="submit"> Сохранить данные </button>
        </form>
    </div>
{% endblock content %}