{% extends "homepage/page_template.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1> Ответ </h1>
    {% if reply %}
        {% include 'forum/reply.html' with reply=reply is_reply=True %}
    {% endif %}
    <div class="features data">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            {{ form.reply }}<br>
            {% if not update %}
                {{ form.attachments }}<br>
            {% endif %}

            {% if error %}
                <span> {{ error }} </span>
            {% endif %}
            <br>

            <button class="btn btn-success" type="submit"> Сохранить данные </button>
        </form>
    </div>
{% endblock content %}