{% extends "homepage/page_template.html" %}
{% block content %}

    {% if view.kwargs.username == user.username %}
        {% if tasks.0.from_user.username == user.username %}
            <h1 class="mb-3">Задачи от сотрудника {{ tasks.0.from_user.profile.last_name }} {{ tasks.0.from_user.profile.first_name }} ({{ page_obj.paginator.count }})</h1>
        {% else %}
            <h1 class="mb-3">Задачи сотруднику {{ tasks.0.to_user.profile.last_name }} {{ tasks.0.to_user.profile.first_name }} ({{ page_obj.paginator.count }})</h1>
        {% endif %}
    {% else %}
        {% if tasks.0.from_user.username == user.username %}
            <h1 class="mb-3">Задачи сотруднику {{ tasks.0.to_user.profile.last_name }} {{ tasks.0.to_user.profile.first_name }} ({{ page_obj.paginator.count }})</h1>
        {% else %}
            <h1 class="mb-3">Задачи от сотрудника {{ tasks.0.from_user.profile.last_name }} {{ tasks.0.from_user.profile.first_name }} ({{ page_obj.paginator.count }})</h1>
        {% endif %}
    {% endif %}
    <div class="flex-row mb-2 p-2 align-items-center">
        <span>Фильтры: </span>
        <form action="{% url 'user-tasks' username %}" class="flex-row">
{#            <form action="{% url 'user-tasks-filters' username %}" method="POST" class="flex-row">#}
{#            {% csrf_token %}#}
            <select name="filter_select" class="form-select" style="width: auto; margin-left: 10px">
                <option selected="selected" disabled>Полученные/отправленные:</option>
                <option value="all">Все</option>
                <option value="incoming">Только полученные</option>
                <option value="outgoing">Только отправленные</option>
            </select>

            <select name="is_done_select" class="form-select" style="width: auto; margin-left: 10px">
                <option selected="selected" disabled>Статус выполнения:</option>
                <option value="all">Все</option>
                <option value="True">Только выполненные</option>
                <option value="False">Только невыполненные</option>
            </select>
            <input type="text" class="form-control"  style="width: auto; margin-left: 10px" aria-label="Task search" name="query">
            <input type="submit" value="Применить фильтры" class="btn btn-primary" style="width: auto; margin-left: 10px">
{#            <a class="btn btn-success" style="width: auto; margin-left: 10px" href="{% url 'user-tasks-filters' user.username %}">Применить фильтры</a>#}
        </form>
        <a class="btn btn-warning ml-3 mt-2" style="width: auto; margin-left: 10px" href={% url 'user-tasks' username %}>Очистить фильтры</a>
        <a class="btn btn-success ml-3 mt-2"  style="width: auto; margin-left: 10px" href={% url 'task-create' username %}>+</a>
{#        {% url 'profile' task.from_user.username %}#}
    </div>
{#    <h1 class="mb-3">Задачи пользователю {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>#}
    {% for task in tasks %}
        {% include 'tasks/task.html' with task=task %}
    {% endfor %}

<div class="pagination justify-content-center">
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page=1&{% for param, value in filter_params.items %}{{ param }}={{ value }}&{% endfor %}">Первая</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.previous_page_number }}&{% for param, value in filter_params.items %}{{ param }}={{ value }}&{% endfor %}">Предыдущая</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4 mr-1" href="?page={{ num }}&{% for param, value in filter_params.items %}{{ param }}={{ value }}&{% endfor %}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ num }}&{% for param, value in filter_params.items %}{{ param }}={{ value }}&{% endfor %}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.next_page_number }}&{% for param, value in filter_params.items %}{{ param }}={{ value }}&{% endfor %}">Следующая</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.paginator.num_pages }}&{% for param, value in filter_params.items %}{{ param }}={{ value }}&{% endfor %}">Последняя</a>
      {% endif %}

    {% endif %}
  </div>
{% endblock content %}
